/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
.reveal-modal-bg { position: fixed; height: 100%; width: 100%; background: #000; background: rgba(0,0,0,.3); z-index: 100; display: none; top: 0; left: 0; }
.reveal-modal { left: 50%; display: block; transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); position: absolute; z-index: 50000; top: 0; width: 280px; height: 50px; background: #f5f5f5; }
.reveal-modal img { margin-left: 10px; }
.jiazaiFont { color: #333; font-family: '微软雅黑'; display: inline-block; line-height: 50px; text-align: center; }
